<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            /* fallback for old browsers */
            background: #f093fb;
            
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to bottom right, rgba(120, 35, 251, 1), rgba(180, 87, 200, 1));
            
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to bottom right, rgba(120, 35, 251, 1), rgba(180, 87, 200, 11))
            }
    </style>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hệ Thống Điểm Danh - Dịch vụ Điểm Danh AI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link href="{{ url_for('static', filename ='assets/vendor/aos/aos.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet"/>

  <link href="{{ url_for('static', filename ='css/style.css')}}" rel="stylesheet"/>

</head>

<body class="vh-100 gradient-custom">
    <header id="header" class="fixed-top ">

        <div class="container d-flex align-items-center justify-content-lg-between">
    
          <h1 class="logo me-auto me-lg-0"><a href="/">Hệ Thống Điểm Danh</a></h1>
    
          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
              <li><a class="nav-link scrollto active" href="/">Trang Chủ</a></li>
              <li><a class="nav-link scrollto" href="/dashboardadmin">Bảng điều khiển</a></li>
              <li><a class="nav-link scrollto" href="/signoutadmin">Đăng xuất</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
    
        </div>
      </header>

      <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">
    
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
              <h1 style = "margin-top:40%;">Lịch sử tham dự </h1>
            </div>
          </div>

          <a href = "/deleterecords"><h3 style="color:white; text-decoration: underline;">Nhấn để xóa lịch sử tham dự ngày hôm nay...</h3></a>
    
          <table bordercolor = "white" border = "2" class="table-bordered" style="margin:20%; width: 60%;">
            <center>
            <thead>
              <tr>
                <th style="color:white;">Sno</th>
                <th style="color:white;">Tên người dùng</th>
                <th style="color:white;">Ngày và gi</th>
              </tr>
            </thead>
            <tbody>
                {% set counter = {
                'count': 1,} %}
                {% macro increment(dct, key, inc=1)%}
                {% if dct.update({key: dct[key] + inc}) %} {% endif %}
                {% endmacro %}

                {%for i in data%}
                  <tr>
                       <td style="color:white;">{{counter.count}}</td>
                       <td style="color:white;">{{i.uname}}</td>
                       <td style="color:white;">{{i.date}}</td>
                 </tr>
                {{ increment(counter, 'count') }}
                {% endfor %}
            </tbody>
        </center>
          </table>
          
        </div>

      </section>
    
</body>

<div id="preloader"></div>

  <script src="{{ url_for('static', filename ='assets/vendor/purecounter/purecounter.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/aos/aos.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/php-email-form/validate.js')}}"></script>

  <script src="{{ url_for('static', filename ='js/main.js')}}"></script>

</body>

</html>