<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: #f093fb;
            
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to bottom right, rgba(120, 35, 251, 1), rgba(180, 87, 200, 1));
            
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to bottom right, rgba(120, 35, 251, 1), rgba(180, 87, 200, 11))
            }
            
            .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
            }
            .card-registration .select-arrow {
            top: 13px;
            }
    </style>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hệ Thống Điểm Danh - Dịch vụ Điểm Danh AI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link href="{{ url_for('static', filename ='assets/vendor/aos/aos.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet"/>

  <link href="{{ url_for('static', filename ='css/style.css')}}" rel="stylesheet"/>

</head>

<body background="{{url_for('static', filename='assets/img/hero-bg.jpg')}}">

  <header id="header" class="fixed-top ">

    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="/">Hệ Thống Điểm Danh</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Trang Chủ</a></li>
          <li><a class="nav-link scrollto active" href="/dashboardadmin">Bảng điều khiển</a></li>
          <li><a class="nav-link scrollto" href="/signup">Đăng Ký </a></li>
          <li><a class="nav-link scrollto" href="/signout">Đăng xuất</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Điền để đăng ký khuôn mặt!</h3>
              <form action="/registerface" method="post">
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input name="fname" type="text" id="fname" class="form-control form-control-lg" />
                      <label class="form-label" for="fname">Tên</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input name="lname" type="text" id="lname" class="form-control form-control-lg" />
                      <label class="form-label" for="lname">Họ</label>
                    </div>
  
                  </div>

                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input name="uname" type="text" id="uname" class="form-control form-control-lg" />
                      <label class="form-label" for="uname">Tên người dùng</label>
                    </div>
  
                  </div>
                </div>
                  <center>
                <div class="mt-4 pt-2">
                  <input class="btn btn-primary btn-lg" type="submit" value="Bắt đầu" />
                </div>
            </center>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="preloader"></div>

  <script src="{{ url_for('static', filename ='assets/vendor/purecounter/purecounter.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/aos/aos.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/php-email-form/validate.js')}}"></script>

  <script src="{{ url_for('static', filename ='js/main.js')}}"></script>

</body>

</html>