<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            /* fallback for old browsers */
            background: #f093fb;
            
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to bottom right, rgba(120, 35, 251, 1), rgba(180, 87, 200, 1));
            
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to bottom right, rgba(120, 35, 251, 1), rgba(180, 87, 200, 11))
            }
    </style>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hệ Thống Điểm Danh - Dịch vụ Điểm Danh AI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link href="{{ url_for('static', filename ='assets/vendor/aos/aos.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename ='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet"/>

  <link href="{{ url_for('static', filename ='css/style.css')}}" rel="stylesheet"/>

</head>

<body class="vh-100 gradient-custom">
    <center>
<h1 style="padding:18%;">Thông tin xác thực sai!</h1>
<h4><a style="padding:2%;" href = "/signinadmin">Nhấp vào đây để quay lại Trang đăng nhập...</a></h4>
    </center>

</body>

<div id="preloader"></div>

  <script src="{{ url_for('static', filename ='assets/vendor/purecounter/purecounter.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/aos/aos.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename ='assets/vendor/php-email-form/validate.js')}}"></script>

  <script src="{{ url_for('static', filename ='js/main.js')}}"></script>

</body>

</html>